<%= form_for(@lancamento) do |f| %>
<% if @lancamento.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@lancamento.errors.count, "error") %> prohibited this lancamento from being saved:</h2>

	<ul>
		<% @lancamento.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="container">

<!-- ********************************************************************************************************* 
	Tipo
	-->
<%= render 'lancamentos/scripts/change_tipo_class'%>
<div class="row">	
	<div class="offset1 span0">
	<%= f.radio_button :tipo, :receita, :style => "float:left; display:none" %> <a id="receita_label" class="label label-success" style="color:white"> Receita </a>
	</div>
	<div class="span0">
	<%= f.radio_button :tipo, :despesa, :style => "float:left; display:none" %> <a id="despesa_label" class="label label-default" style="color:white"> Despesa </a>
	</div>
</div>

<div class="row"><\br></div>

<!-- ********************************************************************************************************* 
	Descrição
	-->
<% @page_item_id = "lancamento_descricao"%>
<% @placeholder_value = "Entre com a descrição" %>
<% @iterator = @lancamentorapidos %>
<%= render 'lancamentos/scripts/select2_for_descricao' %> 
<div class = "container-fluid">
	<div class = "span1">
		<%= f.label :descricao%>
	</div>
		
	<div class="span3">
		<%= f.text_field :descricao, :as => :text %>
	</div>	
</div>

<div class="row"><\br></div>

<!-- ********************************************************************************************************* 
	Data de vencimento
	-->

<%= render 'lancamentos/scripts/datepicker'%>
<div class="container-fluid">
	<div class="span1">
		<%= f.label :datavencimento %>
	</div>
	
	<div class="span3">	
		<%= f.text_field :datavencimento, :as => :text, :value=> Date.today.strftime("%d-%m-%Y"), :id => :datepicker %>		
	</div>
</div>

<div class="row"><\br></div>

<!-- ********************************************************************************************************* 
	Valor
	-->

<%= render 'lancamentos/scripts/change_tipo' %>
<div class="container-fluid input-prepend">
	<div class="span1">
		<%= f.label :valor %>
	</div>
	<div class="span3">
	<span class="add-on">R$</span>
	<%= f.text_field :valor, :class=> "auto", :alt=> "n0p3c2S", :style => "text-align:right;" %>
	</div>
</div>

<div class="row"><\br></div>
<!-- ********************************************************************************************************* 
	Categoria
	-->

<% @page_item_id = "categoria_place"%>
<% @placeholder_value = "Selecione uma categoria" %>
<% @iterator = @categorias %>
<%= render 'lancamentos/scripts/select2_for_categoria'%>
<div class="container-fluid">
	<div class="span1">
		<%= f.label :categoria%>
	</div>
	<div class="span3">
		<%= f.text_field :category_id, :as=> :text, :id=> @page_item_id %>
	</div>
</div>

<div class="row"><\br></div>
<!-- ********************************************************************************************************* 
	Centro de custo
	--> 
<% @page_item_id = "centrodecusto_place"%>
<% @hidden_item_id = "centrodecusto_hidden"%>
<% @placeholder_value = "Selecione um centro de custo" %>
<% @iterator = @centrosdecusto %>
<%= render 'lancamentos/scripts/select2_for_centrodecusto'%>
<div class="container-fluid">
	<div class="span1">
	<%= f.label :centrodecusto %>
	</div>
<!-- 	<input type="text" id="centrodecusto_place" style="width:200px;"> -->
	<div class="span3">
	<%= f.text_field :centrodecusto_id, :as=> :text, :id=> @page_item_id%>
	</div>
</div>
<!-- <%= hidden_field_tag :centrodecusto, 0, :id => @hidden_item_id%> -->

<div class="row"><\br></div>

<!-- ********************************************************************************************************* 
	Quitado checkbox
	-->

<%= render 'lancamentos/scripts/calculo_parcela' %>
<%= render 'lancamentos/scripts/select2_for_parcela' %>
<label>Parcelamento</label>
<div class="container">
<div class="span1">
	<input type="text" placeholder="Nº de parcelas" id="numero_parcelas" class="span1"/>
	<%= hidden_field_tag :numParcelas, 0, :id => "numero_parcelas_hidden" %>
</div>
<div class="span2">
	<input type="text" placeholder="Frequencia" id="frequencia_parcelas" style="width:120px;"/>
	<%= hidden_field_tag :freqParcelas, "Semanal", :id => "frequencia_parcelas_hidden" %>
</div>	
<div class="span1">
	<label id="total_parcela">0</label>
</div>
</div>

<%= render 'lancamentos/scripts/calculo_agendamento' %>
<%= render 'lancamentos/scripts/select2_for_agendamento' %>
<label>Agendamento</label>
<div class="container">
<div class="span1">
	<input type="text" placeholder="Nº de repetições" id="numero_agendamentos" class="span1"/>
	<%= hidden_field_tag :numAgendamentos, 0, :id => "numero_agendamentos_hidden" %>
</div>
<div class="span2">
	<input type="text" placeholder="Frequencia" id="frequencia_agendamentos" style="width:120px;"/>
	<%= hidden_field_tag :freqAgendamentos, "Semanal", :id => "frequencia_agendamentos_hidden" %>
</div>	
<div class="span1">
	<label id="total_agendamento">0</label>
</div>
</div>


<%= render 'lancamentos/scripts/quitado_checkbox'%>
<div class = "container">
<label class="checkbox">
	<input id= "quitado_checkbox" type="checkbox">	Quitado? &nbsp;&nbsp; 
</label>
<%= hidden_field_tag :quitado, false, :id => "quitado_hidden" %>
</div>

<!-- ********************************************************************************************************* 
	Submit
-->
	
<div id="lancamento_quitado" class="actions">
	<%= f.submit :class => "btn btn-primary" %>
</div>

</div>

<% end %>
