<%= form_for(@lancamento) do |f| %>
<% if @lancamento.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@lancamento.errors.count, "error") %> prohibited this lancamento from being saved:</h2>

	<ul>
		<% @lancamento.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field span4">
	<%= f.label :descricao, :style => "float:left" %>&nbsp;&nbsp;
	<%= f.text_field :descricao %>
</div>

<div class="field span4" style="">
	<%= f.label :tipo, :style => "float:left" %>:&nbsp;&nbsp;
	<%= f.radio_button :tipo, :receita, :style => "float:left" %> <span class="label label-success" style="float:left"> Receita </span>
	<%= f.radio_button :tipo, :despesa, :style => "float:left" %> <span class="label label-important"> Depesa </span>
</div>

<%= render 'lancamentos/scripts/datepicker'%>
<div class="field span4">
	<%= f.label :datavencimento, :style => "float:left" %>:&nbsp;&nbsp;	
	<input type="text" value="<%= Date.today.strftime("%d-%m-%Y") %>" id="datepicker"/>
</div>

<%= render 'lancamentos/scripts/change_tipo' %>
<div class="field input-prepend span4">
	<%= f.label :valor , :style => "float:left" %>:&nbsp;&nbsp;
	<span class="add-on">R$</span>
	<%= f.text_field :valor, :class=> "auto", :alt=> "n0p3c2S", :style => "text-align:right;" %>
</div></br>


<% @page_item_id = "categoria_place"%>
<% @placeholder_value = "Selecione uma categoria" %>
<% @iterator = @categorias %>
<%= render 'lancamentos/scripts/select2'%>
<div class="field span4">
	<%= f.label :categoria , :style => "float:left" %>&nbsp;&nbsp;
	<%= f.text_field :category, :id=> "categoria_place", :style=>"width:200px"%>
</div>

<br>
<% @page_item_id = "centrodecusto_place"%>
<% @placeholder_value = "Selecione um centro de custo" %>
<% @iterator = @centrosdecusto %>
<%= render 'lancamentos/scripts/select2'%>
<div class="field span4">
	<%= f.label :centrodecusto , :style => "float:left" %>:&nbsp;&nbsp;
	<input type="text" id="centrodecusto_place" style="width:200px;">
</div>

<%= render 'lancamentos/scripts/quitado_checkbox'%>
<label class="checkbox span4" style="float:left">
	<input id= "quitado_checkbox" type="checkbox">	Quitado? &nbsp;&nbsp; 
</label>
<%= hidden_field_tag :quitado, false, :id => "quitado_hidden" %>
	
<div id="lancamento_quitado" class="actions span4">
	<%= f.submit %>
</div>
<% end %>
