<table class="table table-hover table-condensed">
  <thead>
  <tr height="30%">
    <td colspan=3>
      <div style="overflow:scroll;height:100%;width:100%;overflow:auto">
        <tr>

          <th></th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th>Data Ação</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Centro de Custo</th>
          <th>Status</th>
        </tr>
      </div>
  </thead>
  <tbody>
  <tr>
    <td></td>

    <td> <%= text_field(:filtro, :descricao, :class => "filtro_parametro") %></td>
    <td>
    		
    	 <%= text_field :filtro, :datavencimento,:class => "filtro_parametro"%>
    </td>
    <td>  <%= text_field :filtro, :dataacao,:class => "filtro_parametro"%></td>
    <td>
        <div class ="span3" style="border: 0px">
            <select id="seletor_valor" class="filtro_parametro" style="width: 50px">
                <option value="=">=</option>
                <option value="<"><</option>
                <option value=">">></option>
            </select>
          <input type="text" id="filtro_valor" class="filtro_parametro" style="width: 170px">

        </div>

    </td>
    <td>  <%= collection_select :filtro, :categoria, Category.all, :id,:descricao,{},{:class => "filtro_parametro"}%></td>
    <td>  <%= collection_select :filtro, :centrodecusto, Centrodecusto.all, :id,:descricao,{},{:class => "filtro_parametro"}%></td>
	<td>	<select id="filtro_status" class="filtro_parametro">
		<option value="<%= Lancamento.aberto%>">Aberto</option>
		<option value="<%= Lancamento.quitado%>">Quitado</option>
		<option value="<%= Lancamento.cancelado%>">Cancelado</option>
		<option value="<%= Lancamento.estornado%>">Estornado</option>
		</select>

	</td>
  </tr>
  <tr>
    <td colspan="8"><div id="grid_results"> </div> </td>
  </tr>

  </table>