<table class="table table-hover table-condensed">
  <thead>
  <tr height="30%">
    <td colspan=3>
      <div style="overflow:scroll;height:100%;width:100%;overflow:auto">
        <tr>

          <th></th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th>Data Ação</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Centro de Custo</th>
          <th>Status</th>
        </tr>
      </div>
  </thead>
  <tbody>
  <tr>
    <td></td>

    <td> <%= text_field(:filtro, :descricao) %></td>
    <td>
    		
    	 <%= text_field :filtro, :datavencimento%>
    </td>
    <td>  <%= text_field :filtro, :dataacao%></td>
    <td>  <%= text_field :filtro, :valor%></td>
    <td>  <%= collection_select :filtro, :categoria, Category.all, :id,:descricao%></td>
    <td>  <%= collection_select :filtro, :centrodecusto, Centrodecusto.all, :id,:descricao%></td>
    <td>  <%= text_field :filtro, :status%></td>

  </tr>
  <tr>
    <td colspan="8"><div id="grid_results"> Resultado do Grid </div> </td>
  </tr>

  </table>