<table class="table table-hover table-condensed">
  <thead>
  <tr height="30%">
    <td colspan=3>
      <div style="overflow:scroll;height:100%;width:100%;overflow:auto">
        <tr>

          <th></th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th>Data Ação</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Centro de Custo</th>
          <th>Status</th>
        </tr>
      </div>
  </thead>
  <tbody>
  <% for lancamento in @lancamentos %>
      <% @edit_row_id = "edit_lancamento_row_#{lancamento.id}" %>
      <% @edit_btn_id = "edit_lancamento_btn_#{lancamento.id}" %>
      <% @current_lancamento = lancamento %>
      <tr id="<%= @edit_row_id %>">
        <td>
          <table border="0px">
            <tr>
              <td><%= button_to(if lancamento.aberto? then "Quitar" else "Desquitar" end , {:action => "quitar", :id => lancamento.id}, :method => :put, :remote => :true)  %> </td>
              <td><%= button_to("Estornar", {:action => "estornar", :id => lancamento.id}, :method => :put, :remote => :true)  %> </td>
              <td><%= button_to("Cancelar", {:action => "destroy", :id => lancamento.id}, :method => :put, :remote => :true)  %> </td>
            </tr>
          </table>
        </td>
        <td><%= lancamento.descricao %></td>
        <td><%= lancamento.datavencimento %></td>
        <td><%= lancamento.dataacao %></td>

        <td><%= if lancamento.receita? then
                  "+" + lancamento.valor.to_s
                else
                  "-" + lancamento.valor.to_s
                end %></td>
        <td><%= lancamento.category.descricao unless lancamento.category.nil? %></td>
        <td><%= lancamento.centrodecusto.descricao unless lancamento.centrodecusto.nil? %></td>
        <td><%= lancamento.status %></td>
        <%  @has_parcelamento_id =  "has_parcelamento_row_#{lancamento.id}" %>
        <%  @has_agendamento_id =  "has_agendamento_row_#{lancamento.id}" %>
        <%  @has_estorno_id =  "has_estorno_row_#{lancamento.id}" %>

        <%= hidden_field_tag :hasParcelamento, lancamento.has_parcelamento?, :id => "has_parcelamento_row_#{lancamento.id}" %>
        <%= hidden_field_tag :hasAgendamento, lancamento.has_agendamento?, :id => "has_agendamento_row_#{lancamento.id}" %>
        <%= hidden_field_tag :hasEstorno, lancamento.has_estorno?, :id => "has_estorno_row_#{lancamento.id}" %>
        <%= render 'lancamentos/scripts/edit_form' %>
      </tr>
  <% end %>

  <% if @lancamentos.count == 0 then %>
      <tr>
        <td colspan="11"> Nenhum resultado encontrado.</td>
      </tr>
  <% end %>
  </table>