<table id="tableGrid" class="mister-table-filter table" xmlns="http://www.w3.org/1999/html">
  <tbody>
  <!--
<tr>
<td>
  <table id="tableParametros" class="table">
    <tr>
      <td>

        <input type="checkbox" class="checkbox inline" id="inputReceitas" checked="true" value="S"/> Receitas
        <input type="checkbox" class="checkbox inline" id="inputDespesas" checked="true" value="S"/> Despesas

        <input type="hidden" id="hiddenReceita" class="filtro_parametro"/>
        <input type="hidden" id="hiddenDespesa" class="filtro_parametro"/>


        <input type="text" id="filtro_DataCriacaoDe" class="filtro_parametro input-small" placeholder="Criação"/>
        <input type="text" id="filtro_DataCriacaoAte" class="filtro_parametro input-small" placeholder="Criação"/>

      </td>
    </tr>
  </table>
    </td>
    </tr>
         -->
  <tr>
    <td colspan="8">
      <div id="grid_results">
        <table id="tableResults" class="table table-hover table-condensed table-stripped">
          <thead id="tableFilter">
          <tr id="header">
            <th style="vertical-align: top">Estornar</th>
            <th style="vertical-align: top">Quitar</th>
            <th>Descrição <br/>
              <%= text_field(:filtro, :descricao, :class => "filtro_parametro input-large") %>
              <%= %>
            </th>
            <th>Vencimento </br>
              <input type="text" id="filtro_DataVencimentoDe" class="filtro_parametro input-small" placeholder="De"/>
              <input type="text" id="filtro_DataVencimentoAte" class="filtro_parametro input-small" placeholder="Até"/>
            </th>
            <th>Data Ação <br/>
              <input type="text" id="filtro_DataAcaoDe" class="filtro_parametro input-small" placeholder="De"/>
              <input type="text" id="filtro_DataAcaoAte" class="filtro_parametro input-small" placeholder="Até"/>
            </th>
            <th>Valor <br/>
              <input type="text" id="filtro_valor" class="filtro_parametro input-medium" placeholder="= X, [ X Y ], < X, >= X,...">
            </th>
            <th>Categoria <br/>
              <%= collection_select :filtro, :categoria, Category.all, :id, :descricao, {:include_blank => true}, {:class => "filtro_parametro"} %>
            </th>
            <th>Centro de Custo <br/>
              <%= collection_select :filtro, :centrodecusto, Centrodecusto.all, :id, :descricao, {:include_blank => true}, {:class => "filtro_parametro"} %>

            </th>
            <th>Status <br/>
              <select id="filtro_status" class="filtro_parametro" style="width: 100px">
                <option value=""></option>
                <option value="<%= Lancamento.aberto %>">Aberto</option>
                <option value="<%= Lancamento.quitado %>">Quitado</option>
                <option value="<%= Lancamento.cancelado %>">Cancelado</option>
                <option value="<%= Lancamento.estornado %>">Estornado</option>
              </select>
            </th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td colspan="5">Total:</td>
            <td colspan="4"><div id="majorTotalPlace"></div></td>
          </tr>
          <tr>
            <td colspan="9">
                <div class="span12">
                  <div class="span4 btn-group" data-toggle="buttons-radio">
                    <div class="span3"><%= button_to 'Hoje', '#', :class => 'btn btn-primary mister-table-btn span12', :remote => true, :onclick => 'todayFilter();' %></div>
                    <div class="span3"><%= button_to 'Esta Semana', '#', :class => 'btn btn-primary mister-table-btn span12', :remote => true, :onclick => 'weekFilter();' %></div>
                    <div class="span3"><%= button_to 'Este Mês', '#', :class => 'btn btn-primary mister-table-btn span12', :remote => true, :onclick => 'monthFilter();' %></div>
                    <div class="span3"><%= button_to 'Este Ano', '#', :class => 'btn btn-primary mister-table-btn span12', :remote => true, :onclick => 'yearFilter();' %></div>
                  </div>
                  <div class="span4 btn-group" data-toggle="buttons-checkbox">
                    <div class="span6"><%= button_to 'Receitas', '#', :class => 'btn btn-success mister-table-btn span12', :remote => true, :onclick => 'receitaFilter();' %></div>
                    <%=  hidden_field_tag 'filtro_receita' %>
                    <div class="span6"><%= button_to 'Despesas', '#', :class => 'btn btn-danger mister-table-btn span12', :remote => true, :onclick => 'despesaFilter();' %></div>
                    <%=  hidden_field_tag 'filtro_despesa' %>
                  </div>
                  <div class="span4">
                    <div class="span6"><%= button_to 'Limpar Filtro', '#', :class => 'btn btn-inverse mister-table-btn span12', :remote => true, :onclick => 'defaultFilter();' %></div>
                    <div class="span6"><%= button_to 'Limpar Ordenação', '#', :class => 'btn btn-inverse mister-table-btn span12', :remote => true, :onclick => 'defaultSort();' %></div>
                  </div>
                </div>
              <%=  hidden_field_tag 'command', :id => 'filtro_command'  %>
            </td>
          </tr>
          </tfoot>
          <tbody>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>

          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>

<!--
<table id="tableResults2">
  <thead>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Descrição</th>
    <th>Valor</th>
  </thead>
  <tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>

</table>
-->