<!-- TODO: Move this ref to assets -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
</style>
<script>
    $(function() {
        $( "#reportsModal" ).draggable();
    });
</script>



<div class="divReportsDialog">
  <div id="reportsModal" class="modal hide fade ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="reportsModalLabel" aria-hidden="true">
    <div class="modal-header span11">
      <div class="span11">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="span11">
        <div class="span4"><h3 id="reportsModalLabel">Relatórios Mister Business</h3></div>
        <div class="span4">
          <input id="report_period_begin" class="input-small" style="float:left" data-mask="99-99-9999"
                 value="<%= Time.now.beginning_of_month.strftime("%d-%m-%Y") %>">
          <p style="float: left"> &nbsp;a&nbsp; </p>
          <input id="report_period_end" class="input-small" style="float: left" data-mask="99-99-9999"
                 value="<%= Time.now.end_of_month.strftime("%d-%m-%Y") %>">
          <a class="btn" href="#" style="float: left"
             onclick="changeReportDateRange($('#report_period_begin').val());"><i class="icon-calendar"></i></a>
        </div>
        <div class="btn-group span2">
          <a class="btn" href="#" onclick="printHtml('report_zone_1_div','report_zone_2_div','report_zone_3_div');"><i class="icon-print"></i></a>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="tab-content" id="reportsTab">
        <ul class="nav nav-pills span11">
          <li class="active">
            <a href="#receitas" data-toggle="tab" id="reportsReceita"
               onclick="
               hideReportMenu();
                       drawVisualization('combo', 'report_zone_1_div','<%= lancamentos_reports_receita_realizada_path %>');
                       drawVisualization('pie', 'report_zone_2_div','<%= lancamentos_reports_receita_por_categoria_path %>') ;
                       drawVisualization('pie', 'report_zone_3_div','<%= lancamentos_reports_receita_por_status_path %>');">Receitas</a>
          </li>
          <li><a href="#despesas" data-toggle="tab" id="reportsDespesa"
                 onclick="
                 hideReportMenu();
                         drawVisualization('column', 'report_zone_1_div','<%= lancamentos_reports_despesa_realizada_path %>');
                         drawVisualization('pie', 'report_zone_2_div','<%= lancamentos_reports_despesa_por_categoria_path %>');
                         drawVisualization('pie', 'report_zone_3_div','<%= lancamentos_reports_despesa_por_centrodecusto_path %>');">Despesas</a>
          </li>
          <li><a href="#fluxo" data-toggle="tab" id="reportsCaixa"
                 onclick="hideReportMenu();">Fluxo de caixa</a></li>
          <li><a href="#resultados" data-toggle="tab" id="reportsResultados" onclick="hideReportMenu();">Resultados</a>
          </li>
          <li><a href="#diversos" data-toggle="tab" id="reportsDiversos" onclick="showReportMenu()">Diversos</a></li>
        </ul>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <ul class="nav nav-list" id="reportsSideMenu">
              <div class="accordion" id="accordionReports">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <ul class="nav nav-list">
                      <li>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseReceitas">
                          <i class=" icon-signal"></i> Receitas
                        </a></li>
                    </ul>
                  </div>
                  <div id="collapseReceitas" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <!--<li class="nav-header">Receita</li>-->
                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_contas_a_receber_table_path %>','ChartRangeFilter','data', 'LineChart');">Contas
                        a receber</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_recebimentos_atrasados_table_path %>', 'ChartRangeFilter','data', 'LineChart');">Recebimentos
                        atrasados</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_top_receitas_table_path %>','ChartRangeFilter','data', 'LineChart');">TOP
                        receitas</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_receitas_por_categoria_table_path %>','ChartRangeFilter','data', 'PieChart');">Receitas
                        por categoria</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_receitas_por_status_table_path %>','ChartRangeFilter','data', 'PieChart');
                             ">Receitas por status</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_receitas_por_centrodecusto_table_path %>','ChartRangeFilter','data', 'PieChart');
                                     drawVisualization('table','report_zone_1_div','<%= lancamentos_reports_receitas_por_centrodecusto_table_path %>');
                             ">Receitas
                        por centro de custo</a></li>
                      <li><a href="#"
                             onclick="drawDashboard('<%= lancamentos_reports_prazo_medio_recebimento_path %>','ChartRangeFilter','mes', 'LineChart');">Prazo
                        médio de recebimento</a></li>
                      <li><a href="#"
                             onclick="drawDashboard('<%= lancamentos_reports_ticket_medio_vendas_path %>','ChartRangeFilter','mes', 'LineChart');">Ticket
                        médio das vendas</a></li>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <ul class="nav nav-list">
                      <li>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDespesas">
                          <i class=" icon-signal"></i> Despesas
                        </a></li>
                    </ul>
                  </div>
                  <div id="collapseDespesas" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <!-- <li class="nav-header">Despesa</li> -->

                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_contas_a_pagar_table_path %>','ChartRangeFilter','data', 'LineChart');">Contas
                        a pagar</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_contas_vencidas_table_path %>','ChartRangeFilter','data', 'LineChart');">Contas
                        Vencidas
                      </a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardTimeSeries('<%= lancamentos_reports_top_despesas_table_path %>','ChartRangeFilter','data', 'ColumnChart');">TOP
                        despesas</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_despesas_por_categoria_table_path %>','ChartRangeFilter','data', 'PieChart');">Despesas
                        por categoria</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_despesas_por_status_table_path %>','ChartRangeFilter','data', 'PieChart');">Despesas
                        por status</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboardGroupChart('<%= lancamentos_reports_despesas_por_centrodecusto_table_path %>','ChartRangeFilter','data', 'PieChart');">Despesas
                        por centro de custo</a></li>
                      <li><a href="#"
                             onclick="drawDashboard('<%= lancamentos_reports_prazo_medio_pagamento_path  %>','ChartRangeFilter','mes', 'LineChart');">Prazo
                        médio de pagamento</a></li>
                      <li><a href="#"
                             onclick="
                             drawDashboard('<%= lancamentos_reports_aderencia_path %>','NumberRangeFilter','mes', 'ColumnChart');">Aderência</a>
                      </li>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <ul class="nav nav-list">
                      <li>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOutros">
                          <i class=" icon-signal"></i> Outros
                        </a></li>
                    </ul>
                  </div>
                  <div id="collapseOutros" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <li><a href="#"
                             onclick="
                             drawVisualization('table','report_zone_1_div','<%= lancamentos_reports_ultimos_lancamentos_path %>');">Ultimos Lancamentos</a></li>
                      <!--<li><a href="#"
                             onclick="drawDashboard('<%= lancamentos_reports_lancamentos_futuros_path %>','NumberRangeFilter','mes', 'ComboChart' );">Lançamentos
                        Futuros</a></li>-->
                      <li><a href="#"
                             onclick="drawVisualization('combo', 'report_zone_1_div','<%= lancamentos_reports_lancamentos_futuros_path %>');
                                     drawVisualization('table','report_zone_2_div','<%= lancamentos_reports_lancamentos_futuros_path %>');">Lancamentos
                        Futuros</a></li>
                      <li><a href="#"
                             onclick="
                             drawVisualization('table','report_zone_1_div','<%= categories_reports_categories_lista_path %>');
                                     hideDiv('report_zone_2_div');">Lista de categorias</a></li>
                      <li><a href="#"
                             onclick="
                             drawVisualization('table','report_zone_1_div','<%= centrodecustos_reports_centrodecustos_lista_path %>');
                                     hideDiv('report_zone_2_div');">Lista de Centros de custo</a></li>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div id="chartsArea" class="span9">
            <div id="message_div"></div>
            <div id="toolbar_div"></div>
            <div id="report_zone_1_div"></div>
            <div id="report_slider" style="height: 50px;"></div>
            <div id="report_zone_2_div" style="float:left"></div>
            <div>&nbsp; </div>
            <div id="report_zone_3_div" style="float: left"></div>
            <div>&nbsp; </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>