<div id="lancamento_index">
  <div>
    <table class="table">
      <tr height="60%">
        <td width="45%">
          <div style="overflow:scroll;overflow:auto">
            <div id="lancamento_form"><%= render :partial => 'form' %></div>
          </div>
        </td>
        <td width="10%">
          <%= render 'notifications' %>
        </td>
        <td width="45%">
          <%= render 'charts' %>
          <div id="reportsArea">
            <!-- Button to trigger modal -->
            <a href="#reportsModal" role="button" class="btn" data-toggle="modal">Relatórios Mister</a>
            <%= render 'reports' %></div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <%= render 'lancamentos/scripts/filtros' %>
    <button id="botaoGrid" class="btn btn-primary" >Todos</button>
    <button id="botaoReceitas" class="btn btn-primary filtro_parametro" >Receitas</button>

  </div>

  <div id="lancamento_grid">
    <%= render :partial => 'grid' %>

  </div>
</div>
