<h1>Listing lancamentos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Tipo</th>
    <th>Datavencimento</th>
    <th>Dataacao</th>
    <th>Valor</th>
    <th>Categoria</th>
    <th>Centrodecusto</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lancamentos.each do |lancamento| %>
  <tr>
    <td><%= lancamento.descricao %></td>
    <td><%= lancamento.tipo %></td>
    <td><%= lancamento.datavencimento %></td>
    <td><%= lancamento.dataacao %></td>
    <td><%= lancamento.valor %></td>
    <td><%= lancamento.categoria %></td>
    <td><%= lancamento.centrodecusto %></td>
    <td><%= lancamento.status %></td>
    <td><%= link_to 'Show', lancamento %></td>
    <td><%= link_to 'Edit', edit_lancamento_path(lancamento) %></td>
    <td><%= link_to 'Destroy', lancamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lancamento', new_lancamento_path %>
