<div class="quadrante span12">
<div id="lancamento_index">
        <div class="span4">
          <div>
            <div id="lancamento_form"><%= render :partial => 'form' %></div>
          </div>
        </div>

        <div class="span4">
          <%= render 'notifications' %>
        </div>

        <div class="span4">
          <div id="charts">
          <%= render 'charts' %>
          </div>
            <%= render 'reports' %>
        </div>
  </div>
  <div style="width: 1%; float:left">&nbsp;</div>
</div>
  </br>
<div class="quadrante span12">
  <div style="width: 100%; float: none">

  <div id="lancamento_grid">
      <%= render :partial => 'grid' %>
  </div>

  <div id="table_div"/>


</div>
</div>
