<div class="quadrante">
<div id="lancamento_index">
    <!--<table class="table">-->
      <!--<tr height="60%">-->
        <!--<td width="45%">-->
        <div style="width:30%; float: left;">
          <div>
            <div id="lancamento_form"><%= render :partial => 'form' %></div>
          </div>
        </div>
  <div style="width: 2%; float:left">&nbsp;</div>
        <!--</td>-->
        <!--<td width="10%">-->
        <div style="width: 30%; float: left;">
          <%= render 'notifications' %>
        </div>
  <div style="width: 2%; float:left">&nbsp;</div>
        <div style="width: 35%; float: left;">
        <!--</td>-->
        <!--<td width="45%">-->
          <div id="charts">
          <%= render 'charts' %>
          </div>
          <!--<div id="reportsArea">-->
            <%= render 'reports' %>
        </div>
        <!--</td>-->
      <!--</tr>-->
    <!--</table>-->
  </div>
  <div style="width: 1%; float:left">&nbsp;</div>
</div>
  </br>
<div class="quadrante">
  <div style="width: 100%; float: none">
    <button id="botaoGrid" class="btn btn-primary" >Todos</button>

        <input type="checkbox"  id="inputReceitas" checked="true"  value="S"/> Receitas
        <input type="checkbox"  id="inputDespesas" checked="true" value="S"/>  Despesas

    <input type="hidden" id="hiddenReceita" class="filtro_parametro"   />
    <input type="hidden" id="hiddenDespesa" class="filtro_parametro"  />
    Data de Vencimento : De<input type="text"  id="filtro_DataVencimentoDe" class="filtro_parametro"  style="width: 100px"/>
    Até<input type="text"  id="filtro_DataVencimentoAte" class="filtro_parametro"  style="width: 100px" />

  <div id="lancamento_grid">
    <%= render :partial => 'grid' %>

  </div>
</div>
</div>
