<%= form_for(@centrodecusto, :remote => true) do |f| %>
  <% if @centrodecusto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@centrodecusto.errors.count, "error") %> prohibited this centrodecusto from being saved:</h2>

      <ul>
      <% @centrodecusto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :descricao %><br />
      <%= f.text_field :descricao %>
    </div>

    <div class="field">

      <% @page_item_id = "fathercentrodecusto_place"%>
      <% @iterator = @centrodecustos %>
      <%= render 'centrodecustos/scripts/select2_for_centrodecusto' %>

      <%= f.label :parent_id %><br />
      <%= f.text_field :parent_id, :as => :text , :id =>  @page_item_id%>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
