<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>

    <% @page_item_id = "categoria_place"%>
    <% @placeholder_value = "Selecione uma categoria" %>
    <% @iterator = @categorias %>
    <% @hidden_item_id = "category_hidden"%>
    <%= render 'categories/scripts/select2_for_categoria'%>
    <div class="container-fluid">
      <div class="span1">
        <%= f.label :categoria%>
      </div>
      <div class="span3">
        <%= f.text_field :ancestry, :as=> :text, :id=> @page_item_id %>
      </div>
    </div>

    <%= hidden_field_tag :category,"", :id => @hidden_item_id%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
