<h1>Categorias</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.descricao %></td>
    <td> <%= category.ancestry%> </td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Deletar', category, method: :delete, data: { confirm: 'Essa operação é irreversível. Deseja continuar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
