<!--
   Fluxo de caixa series
   Mês, Categoria,  Realizado,   Projetado
-->
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<body class="mister-iframe" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<% @current_month = DateTime.now.month %>

<table class="table table-hover table-bordered">
<thead>
<th colspan="2">
  <div class="mister-table-heading">Fluxo de Caixa</div>
</th>
<% (1..12).each do |mes| %>
    <th class="<%= 'mister-table-column-current' if mes == @current_month %>">
      <center> <%= mes %></center>
    </th>
<% end %>
</thead>
<tbody>
<!-- ************************************************************************************************  -->
<!-- Saldo de entrada  -->
<!-- ************************************************************************************************  -->
<tr class="mister-table-realizado-level0">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Saldo de Entrada</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes+1 == @current_month %>">
        <div class="mister-number">
          <%= @saldo_abertura_projetado[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-projetado-level0">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes+1 == @current_month %>">
        <div class="mister-number">
          <%= @saldo_abertura_realizado[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>

<!-- ************************************************************************************************  -->
<!-- Entradas de caixa -->
<!-- ************************************************************************************************  -->

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_projetadas_soma[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_realizadas_soma[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>

<!-- ************************************************************************************************  -->
<!-- Receitas  -->
<!-- ************************************************************************************************  -->

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_projetadas_vendas[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_realizadas_vendas[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_projetadas_financeiras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_realizadas_financeiras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_projetadas_outras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @receitas_realizadas_outras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<!-- ************************************************************************************************  -->
<!-- Saídas de caixa  -->
<!-- ************************************************************************************************  -->

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Saídas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_soma[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_soma[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>

<!-- ************************************************************************************************  -->
<!-- Despesas -->
<!-- ************************************************************************************************  -->
<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_adminstrativas[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_adminstrativas[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_producao[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_producao[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>


<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_financeiras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_financeiras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_investimentos[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_investimentos[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_projetadas_outras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @despesas_realizadas_outras[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>

<!-- ************************************************************************************************  -->
<!-- Geração de caixa  -->
<!-- ************************************************************************************************  -->

<tr class="mister-table-realizado-level1">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Entradas de caixa</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @geracao_caixa_projetada[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>
<tr class="mister-table-projetado-level1">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @geracao_caixa_realizada[mes.to_s].value %>
        </div>
      </td>
  <% end %>
</tr>


<!-- ************************************************************************************************  -->
<!-- Saldo Final  -->
<!-- ************************************************************************************************  -->

<tr class="mister-table-realizado-level0">
  <td colspan="2" rowspan="2">
    <div class="mister-table-heading">Saldo de Fechamento</div>
  </td>
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @saldo_fechamento_projetado[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>

<tr class="mister-table-projetado-level0">
  <% (1..12).each do |mes| %>
      <td class="<%= 'mister-table-column-current-total' if mes == @current_month %>">
        <div class="mister-number">
          <%= @saldo_fechamento_realizado[mes.to_s] %>
        </div>
      </td>
  <% end %>
</tr>


</tbody>
</table>
</body>

