<!DOCTYPE html>
<html>
<head>
  <title>MisterBusiness Finance</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Bootstrap -->
  <!--<link href="assets/bootstrap.min.css" rel="stylesheet" media="screen">-->
  <!--<link href="assets/bootstrap_and_overrides.css" rel="stylesheet" media="screen">-->

  <!-- Custom CSS -->
  <!--<link href="assets/custom.css" rel="stylesheet" media="screen">-->

  <!-- Favicon -->
  <!--<link rel="shortcut icon" href="assets/favicon.ico">-->

  <!---->
  <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>-->
  <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
  <!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <!--<script src="assets/html5shiv.js"></script>-->
  <!--<script src="assets/respond.min.js"></script>-->
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/logo' %>
<%= render 'layouts/navigation' %>
<%= render 'layouts/user' %>
<%= render 'layouts/script' %>
<%= render 'layouts/footer' %>

<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= yield(:logo) %>
    <%= yield(:head) %>
  </nav>

  <div class="row">
    <%= yield(:module) %>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <%= yield(:user) %>
    <%= yield(:footer) %>
  </nav>
</div>

<%= yield(:script) %>

</body>
</html>